<html xmlns="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Editar</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>


	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Editar Persona</h1>
				<br>
				<div class="card-body">
					<!--__________________________este es el codigo ORIGINAL para EDITAR el Usuario__________________________-->
					<form th:action="@{/personas/{id}(id=${personas.id})}" th:object="${personas}" method="post">
						<!--NOMBRE-->
						<div class="form-group">
							<label>Nombre:</label>
							<input type="text" name="nombre" th:field="*{nombre}" class="form-control"
								placeholder="Digite su nombre:">
						</div>
						<!--EDAD-->
						<div class="form-group">
							<label>Edad:</label>
							<input type="number" name="edad" th:field="*{edad}" class="form-control"
								placeholder="Digite su edad:">
						</div>
						<!--SEXO-->
						<div class="form-group">
							<label>Sexo:</label>
							<input type="text" name="sexo" th:field="*{sexo}" class="form-control" placeholder="Sexo:">
						</div>
						<div class="box-footer">
							<button class="btn btn-primary">Guardar</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>