<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<title>Index Page</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<div class="main-content">

		<div th:include="navbar.html"></div> <!-- IMPORTAMOS EL NAVBAR -->
		<center>
			<form style="padding: 10px;" action="saveperson" class="p-3 mb-2 bg-dark text-white" method="post">
				<table border="10px" style="padding: 10px; border-style: solid;">
					<tr>
						<td style="text-align: right; padding: 10px;">
							<label for="user-name" class="label label-pimary" style="text-align: right">Nombre: </label>
						</td>
						<td style="padding-right: 10px; padding-top: 10px;">
							<input style="text-align: center;" placeholder="Ingresa un nombre" type="text" name="nombre"></input>
						</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 10px;">
							<label align="right" for="edad" style="text-align: right">Edad: </label>
						</td>
						<td>
							<input style="text-align: center" placeholder="Ingresa la edad" type="text" name="edad"></input>
						</td>
					</tr>
					<tr>
						<td style="text-align: right; padding: 10px;">
							<label for="sexo" style="text-align: right">Sexo: </label>
						</td>
						<td>
							<input style="text-align: center" placeholder="H/M/NB" type="text" name="sexo"></input>
						</td>
					</tr>
					<tr>
						<td align="center"></td>
						<td style="padding-left: 0px; padding-top: 10px; padding-bottom: 10px;">
							<input type="submit" value="Submit" class="btn btn-success"></input>
						</td>
					</tr>
				</table>
			</form>
		</center>
	</div>

	<div th:include="footer.html"></div>

</body>

</html>