
<body>
	<div th:include="navbar.html"></div>
	<center>
		<form action="saveperson" method="post">
			<br>
			<table>
				<tr>
					<td><label for="user-name">Nombre</label></td>
					<td><input type="text" name="name"></input></td>
				</tr>
				<tr>
					<td><label for="age">Edad</label></td>
					<td><input type="text" name="age"></input></td>
				</tr>
				<tr>
					<td><label for="sex">Sexo</label></td>
					<td><input type="text" name="sex"></input></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit" class="btn btn-dark">Submit</button>
</td>
				</tr>
			</table>

		</form>
	</center>
		<div th:include="footer.html"></div>