<html xmlns="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Listas</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

	<!--OTROS-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/personas/nuevo}">Registro</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">x
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/personas}">Lista de personas<span class="sr-only"></span></a>
				</li>
		</div>
	</nav>

	<!--TABLA-->
	<div class="container">
		<div class="row">
			<h1>Lista de personas</h1>
		</div>
		<!--TABLA DE PERSONAS-->
		<div class="row">
			<div class="col-lg-3">

				<table class="table table-bordered border-dark">
					<thead class="table-light">
						<tr>
							<th>
								<a th:href="@{/personas/nuevo}" class="btn btn-primary"><b>Registrar</b></a>
							</th>
							<!--<th>
								<button onclick="mostrarPopup()" class="btn btn-info"><b>Archivos</b></button>
							</th>-->
							<th>
								<button type="button" class="btn btn-primary" onclick="abrirPopup2()">Descargar
									Archivos</button>
							</th>
							<th>
								<!--BOTON DE CONVERCION-->
								<a type="button" class="btn btn-warning" href="/exportar-pdf-zip"><b>Exportar
										Tablas</b></a>
								<!--FIN DEL BOTON DE CONVERSION-->
							</th>
				</table>
				<!--POPUP CODIGO-->
				<style>
					.popup {
						display: none;
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.5);
					}

					.popup-content {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background-color: white;
						padding: 20px;
						border-radius: 5px;
					}

					.popup-content button {
						margin-right: 10px;
					}
				</style>
			</div>
		</div>
		<!--____________________Codigo de visualizacion____________________-->

		<div id="popup2" class="popup">
			<div class="popup-content">
				<h2>Gestor de Descargas</h2>
				<div class="archivo-zip-descargados">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Nombre de Archivo ZIP</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<!-- Itera sobre los nombres de archivos .zip y crea una fila por cada uno -->
							<tr th:each="nombreArchivo : ${nombresArchivos}">
								<td>
									<div class="d-flex justify-content-between align-items-center">
										<span>${nombreArchivo}</span>
										<div class="btn-group" role="group">
											<a href="javascript:void(0);"
												class="btn btn-primary btn-descargar btn-separator"
												data-nombre-archivo="${nombreArchivo}">Descargar</a>
											<a href="javascript:void(0);" class="btn btn-danger btn-eliminar"
												data-nombre-archivo="${nombreArchivo}">Eliminar</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-actions">
					<button type="button" class="btn btn-secondary btn-cancelar-popup2">Cancelar</button>
				</div>
			</div>
		</div>

		<script>
			function abrirPopup2() {
				const popup2 = document.getElementById("popup2");
				popup2.style.display = "block";
				document.querySelector('.btn-cancelar-popup2').addEventListener('click', cerrarPopup2);
				obtenerNombresArchivosZipDescargados();
			}

			function cerrarPopup2() {
				document.getElementById("popup2").style.display = "none";
			}

			function eliminarArchivoZip(nombreArchivo) {
				fetch('/eliminarArchivo/' + nombreArchivo, {method: 'POST'})
					.then(response => response.json())
					.then(data => {
						console.log(data.mensaje);
						obtenerNombresArchivosZipDescargados();
					})
					.catch(error => console.error('Error al eliminar el archivo ZIP:', error));
			}

			function obtenerNombresArchivosZipDescargados() {
				fetch('/obtener-nombres-zip-descargados')
					.then(response => response.json())
					.then(data => mostrarNombresArchivos(data))
					.catch(error => console.error('Error al obtener los nombres de archivos ZIP:', error));
			}

			function mostrarNombresArchivos(nombresArchivos) {
				const tbody = document.querySelector('.archivo-zip-descargados tbody');
				tbody.innerHTML = '';

				nombresArchivos.forEach(nombreArchivo => {
					const tr = document.createElement('tr');

					const tdNombre = document.createElement('td');
					tdNombre.textContent = nombreArchivo;
					tr.appendChild(tdNombre);

					const tdAcciones = document.createElement('td');

					const btnDescargar = document.createElement('a');
					btnDescargar.href = '/descargar-zip/' + nombreArchivo;
					btnDescargar.textContent = 'Descargar';
					btnDescargar.classList.add('btn', 'btn-primary', 'btn-descargar');
					btnDescargar.setAttribute('data-nombre-archivo', nombreArchivo);
					btnDescargar.setAttribute('download', ''); // Agregar el atributo "download" para la descarga
					tdAcciones.appendChild(btnDescargar);

					btnDescargar.addEventListener('click', () => {
						const nombreArchivo = btnDescargar.getAttribute('data-nombre-archivo');
						// Lógica para descargar el archivo .zip si es necesario

						eliminarArchivoZip(nombreArchivo); // Eliminar el archivo después de la descarga
					});


					const btnEliminar = document.createElement('a');
					btnEliminar.href = 'javascript:void(0);';
					btnEliminar.textContent = 'Eliminar';
					btnEliminar.classList.add('btn', 'btn-danger', 'btn-eliminar');
					btnEliminar.setAttribute('data-nombre-archivo', nombreArchivo);
					btnEliminar.addEventListener('click', () => eliminarArchivoZip(nombreArchivo));
					tdAcciones.appendChild(btnEliminar);

					tr.appendChild(tdAcciones);
					tbody.appendChild(tr);
				});

				document.querySelectorAll('.btn-eliminar').forEach(boton => {
					boton.addEventListener('click', () => eliminarArchivoZip(boton.getAttribute('data-nombre-archivo')));
				});

				document.querySelectorAll('.btn-descargar').forEach(boton => {
					boton.addEventListener('click', () => {
						const nombreArchivo = boton.getAttribute('data-nombre-archivo');
						// Lógica para descargar el archivo .zip si es necesario
					});
				});
			}
		</script>
		<!--____________________Fin de codigo de visualizacion____________________-->

		<!--____________________TABLA____________________-->
		<div>
			<!--PERSONAS REGISTRADAS-->
			<table class="table table-bordered border-dark">
				<thead class="table-dark">
					<tr>
						<th>Nombre:</th>
						<th>Edad:</th>
						<th>Sexo:</th>
						<th></th>
						<th></th>

					</tr>
				</thead>
				<!--CONTENIDO DE LAS PERSONAS REGISTRADAS-->
				<div>
					<tr th:each="personas : ${personas}">
						<td th:text="${personas.nombre}">Nombre:</td>
						<td th:text="${personas.edad}">Edad:</td>
						<td th:text="${personas.sexo}">Sexo:</td>
						<td>
							<center>
								<a th:href="@{/personas/{id}(id=${personas.id})}"
									class="btn btn-danger"><b>ELIMINAR</b></a>
							</center>

						</td>
						<td>
							<div>
								<center>
									<button class="btn btn-warning" data-bs-toggle="modal"
										th:data-bs-target="'#modalContainer-' + ${personas.id}"
										th:attr="data-id=${personas}"><b>EDITAR</b></button>
								</center>
								<!--_____CONTENIDO DENTRO DEL POPUP DE EDITAR_____-->
								<div class="modal fade" th:id="'modalContainer-' + ${personas.id}" tabindex="-1"
									role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" style="color: black;" id="modalTitle">
													<b>Actualizar
														Datos</b>
												</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close">X</button>
											</div>
											<div class="modal-body">
												<center>
													<form style="padding: 10px;"
														th:action="@{/personas/{id}(id=${personas.id})}"
														class="p-3 mb-2 bg-secondary text-white" method="post">
														<input type="hidden" name="id" th:value="${personas.id}" />
														<table class="table-dark" border="2px" style="padding: 2px; ">
															<tr>
																<td style="text-align: right; padding: 10px;">
																	<label for="nombre" class="label label-primary"
																		style="text-align: right">Nombre: </label>
																</td>
																<td style="padding-right: 10px; padding-top: 10px;">
																	<input style="text-align: center;" id="NombreInput"
																		placeholder="Ingresa un nombre" type="text"
																		name="nombre" th:value="${personas.nombre}" />
																</td>
															</tr>
															<tr>
																<td style="text-align: right; padding: 10px;"><label
																		for="edad" style="text-align: right">Edad:
																	</label>
																</td>
																<td><input style="text-align: center"
																		placeholder="Ingresa la edad" type="number"
																		name="edad" th:value="${personas.edad}" /></td>
															</tr>
															<tr>
																<td style="text-align: right; padding: 10px;"><label
																		for="sexo" style="text-align: right">Sexo:
																	</label>
																</td>
																<td><input style="text-align: center"
																		placeholder="Ingresa tu sexo" type="text"
																		name="sexo" th:value="${personas.sexo}" />
																</td>
															</tr>
															<tr>
																<td>
																	<div>
																		<button type="button" class="btn btn-secondary"
																			data-bs-dismiss="modal">Cancelar</button>
																	</div>
																</td>
																<td>
																	<div>
																		<center>
																			<input type="submit" value="Actualizar"
																				class="btn btn-success">

																		</center>
																	</div>
																</td>
															</tr>
														</table>
													</form>
												</center>
											</div>
										</div>
									</div>
								</div>

								<!--_____CONTENIDO DENTRO DEL POPUP DE EDITAR_____-->

							</div>
						</td>
					</tr>
					</tbody>
			</table>


			<script>
				const openModalButtons = document.querySelectorAll('.btn-primary[data-bs-toggle="modal"]');
				const closeModalButtons = document.querySelectorAll('.btn-close[data-bs-dismiss="modal"]');

				openModalButtons.forEach((button) => {
					button.addEventListener('click', (event) => {
						const id = event.currentTarget.getAttribute('data-id');
						const modalContainer = document.getElementById(`modalContainer-${id}`);
						const form = modalContainer.querySelector('form');
						form.action = `/actualizar/${id}`;
						form.reset();

						const nombreInput = form.querySelector('input[name="nombre"]');
						const edadInput = form.querySelector('input[name="edad"]');
						const sexoInput = form.querySelector('input[name="sexo"]');

						const filaSeleccionada = event.currentTarget.closest('tr');
						const nombre = filaSeleccionada.querySelector('td:nth-child(1)').textContent;
						const edad = filaSeleccionada.querySelector('td:nth-child(2)').textContent;
						const sexo = filaSeleccionada.querySelector('td:nth-child(3)').textContent;

						nombreInput.value = nombre;
						edadInput.value = edad;
						sexoInput.value = sexo;
					});
				});

				closeModalButtons.forEach((button) => {
					button.addEventListener('click', () => {
						const modalContainer = button.closest('.modal-container');
						modalContainer.classList.remove('show');
					});
				});
			</script>

			<br>
			<!--INICIO DEL CODIGO DE PAGINACION-->
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">

					<!-- Enlace a la página anterior -->
					<li th:if="${currentPage > 0}" class="page-item">
						<a class="page-link" th:href="@{/inicio(page=${currentPage - 1})}">&laquo;</a>
					</li>

					<!-- Enlaces a las páginas -->
					<li th:each="pageNumber : ${#numbers.sequence(startPageIndex, endPageIndex)}" class="page-item">
						<a th:class="${pageNumber == currentPage ? 'page-link disabled' : 'page-link'}"
							th:href="@{/inicio(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
					</li>

					<!-- Enlace a la página siguiente -->
					<li th:if="${currentPage < totalPages - 1}" class="page-item">
						<a class="page-link" th:href="@{/inicio(page=${currentPage + 1})}">&raquo;</a>
					</li>

				</ul>
			</nav>

			<!--FIN DEL CODIGO DE PAGINACION-->

		</div>

</body>

</html>