<html lang="en">
	
<head>
	<title>PÁGINA DE INICIO</title>
</head>

<body style = "background-color: azure;">
	<center>
		<br>
		<th>
			<h1 style = "text-align: center;">DATOS REGISTRADOS CORRECTAMENTE</h1>
		</th>
		<th>
			<a style = "color: white;
		  				text-align: center; 
		  				background-color: #000000;
		  				border-radius: 10%;
		  				padding: 10px;
		  				font-size: 20px;
		  				text-decoration: none;" 
		  				class="navbar-brand" href="index">REGRESAR</a>
		</th>
	</center>
</body>

</html>
